/* Practical6Page.module.css */

.imageContainer {
    perspective: 1000px; /* Perspective for 3D effect */
  }
  
  .imageContainer img {
    width: 100%;
    height: auto;
    transition: transform 0.6s; /* Smooth transition */
    transform-style: preserve-3d; /* Preserve 3D effect */
  }
  
  .flip img {
    transform: rotateY(180deg); /* Flip effect */
  }
  